/* Wedding site theme - sage green, cream, serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
    background: #f5f5dc;
    color: #333;
    line-height: 1.7;
    max-width: 42em;
    margin: 0 auto;
    padding: 1.5em 1.2em;
}

/* Navigation */
nav {
    border-bottom: 1px solid #8B9F8C;
    padding-bottom: 0.8em;
    margin-bottom: 2em;
}

nav a {
    color: #5a6f5c;
    text-decoration: none;
    margin-right: 1.5em;
}

nav a:hover {
    text-decoration: underline;
}

nav a.current {
    color: #333;
    font-weight: bold;
}

/* Headings */
h1 {
    color: #5a6f5c;
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

h2 {
    color: #5a6f5c;
    font-size: 1.3em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

h3 {
    color: #6b7f6d;
    font-size: 1.1em;
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}

/* Body text */
p {
    margin-bottom: 1em;
}

.subtitle {
    color: #6b7f6d;
    font-style: italic;
    margin-bottom: 1.5em;
}

/* Links */
a {
    color: #5a6f5c;
}

a:visited {
    color: #7a8f7c;
}

/* Lists */
ul, ol {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.4em;
}

/* Accommodation / maker listings */
.listing {
    margin: 1.2em 0;
    padding: 0.8em 1em;
    background: #efefdf;
    border-left: 3px solid #8B9F8C;
}

.listing h3 {
    margin-top: 0;
}

.listing p {
    margin-bottom: 0.4em;
}

.listing .contact {
    font-size: 0.9em;
    color: #666;
}

/* Photo placeholders */
.photo-placeholder {
    background: #e8e8d8;
    border: 1px dashed #8B9F8C;
    padding: 2em 1em;
    text-align: center;
    color: #888;
    font-style: italic;
    margin: 1.2em 0;
}

/* Video embed */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 1.5em 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Attribution / voice */
.voice-note {
    font-style: italic;
    color: #6b7f6d;
    border-left: 3px solid #8B9F8C;
    padding-left: 0.8em;
    margin-bottom: 1.5em;
}

/* Footer */
footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #8B9F8C;
    font-size: 0.9em;
    color: #888;
}

footer a {
    color: #888;
}

/* Mobile */
@media (max-width: 600px) {
    body {
        padding: 1em 0.8em;
    }

    h1 {
        font-size: 1.5em;
    }

    nav a {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0.3em;
    }
}
